PyPDF2
PyMuPDF
llama_index
git+https://github.com/openai/CLIP.git
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-embeddings-fastembed
llama-index-llms-openai
llama-index-embeddings-clip
langchain-community
llama-index-embeddings-langchain
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
ftfy
regex
tqdm
matplotlib
scikit-image
qdrant_client
llama-index-readers-file
torchvision
torch
langchain
google-generativeai>=0.3.0
llama-index-multi-modal-llms-gemini
llama-index-embeddings-gemini
llama-index-llms-gemini
chainlit
tiktoken
    
